.card-body {
  border: black 1px dashed;
  border-radius: 10px;
  margin: 2px;
  position: relative;
  display: grid;
  justify-content: center;
}

.card-body:hover {
  transform: translateY(-2%);
}

.imageContainer {
  display: flex;
  justify-content: center;
}

img.logo {
  object-fit: cover;
  height: 100px;
  width: auto;
  padding-bottom: 15px;
}

@media (min-width: 992px) {
  img.logo {
    object-fit: cover;
    height: 120px;
    width: auto;
  }
}

.app-name {
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
}

.repo-link {
  font-size: 14px;
  text-align: center;
}

.descriptionContainer {
  width: 120px;
  margin-top: 20px;
}

.Collapsible {
  text-align: center;
}