.card-body {
  border: black 1px solid;
  box-shadow: 5px 10px #141313;
  border-radius: 10px;
  margin: 10px;
  position: relative;
  display: grid;
  justify-content: center;
}

.card-body:hover {
  transform: scale(1.05);
  transition: transform 0.1s ease-in-out;
}

.imageContainer {
  display: flex;
  justify-content: center;
}

img.logo {
  object-fit: cover;
  height: 100px;
  width: auto;
  padding-bottom: 15px;
}

@media (min-width: 992px) {
  img.logo {
    object-fit: cover;
    height: 120px;
    width: auto;
  }
  .card-body {
    max-width: 25%;
  }
}

.app-name {
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
}

.repo-link {
  font-size: 14px;
  text-align: center;
}

.descriptionContainer {
  width: 180px;
  margin-top: 20px;
}

.descriptionContainer:hover {
  cursor: pointer;
}

.Collapsible {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
}

.Collapsible:hover {
  cursor: pointer;
}
