.WindowContainer {
  background-color: white;
  border-bottom: #d9d9d9 solid 6px;
  border-right: #d9d9d9 solid 6px;
  border-left: #d9d9d9 solid 6px;
  height: auto;
  width: auto;
}

.TitleBar {
  top: 0;
  width: auto;
  height: 26px;
  background-color: #d9d9d9;
}