.SimpleContactFormInput {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 65vw;
}

.SimpleContactFormTextArea {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 85vw;
}

@media (min-width: 992px) {
  .SimpleContactForm {
    padding: 2rem;
    border: black solid 3px;
    border-radius: 30px;
    width: 60vw;
  }

  .SimpleContactFormInput {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20vw;
  }

  .SimpleContactFormTextArea {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 45vw;
  }
}
