.NavBar {
  background-color: #dde0e0;
  border-radius: 12px 12px 0px 0px;
}

.navi {
  margin: 0px 5px;
  color: black;
}

a.disabled {
  margin: 0px 5px;
  pointer-events: none;
  cursor: default;
  color: rgb(rgb(19, 99, 204));
}

.appleFont {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.Footer {
  background-color: #dde0e0;
  bottom: 5px;
  position: fixed;
  width: 40%;
  height: 24px;
  font-size: 0.7rem;
  text-align: left;
  border-radius: 0px 5px 5px 0px;
}